* {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Mochiy Pop P One", sans-serif;
}

button,
input,
textarea {
  border: none;
  font-family: "Mochiy Pop P One", sans-serif;
}

button {
  padding: 0;
  background: transparent;
  cursor: pointer;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
  box-shadow: none;
  outline: none;
}

ul,
ol,
li {
  list-style-type: none;
  padding: 0;
}

.shopping {
  width: 400px;
  text-align: center;
  -webkit-box-shadow: 10px 10px 15px -4px rgba(0, 0, 0, 0.64);
  -moz-box-shadow: 10px 10px 15px -4px rgba(0, 0, 0, 0.64);
  box-shadow: 10px 10px 15px -4px rgba(0, 0, 0, 0.64);
}

.shopping-title {
  padding: 10px;
  color: #fff;
  background: rgb(249, 14, 60);
  background: linear-gradient(
    11deg,
    rgba(249, 14, 60, 1) 0%,
    rgba(255, 96, 135, 1) 48%,
    rgba(254, 156, 184, 1) 100%
  );
  border-radius: 10px 10px 0 0;
}

.shopping-board {
  padding: 10px;
  height: 500px;
  background-color: #ffc7d7;
}

.shopping-lists {
  display: flex;
  justify-content: space-between;
}

.shopping-lists .shopping-delete-btn {
  font-size: 20px;
}

.shopping-lists .shopping-delete-btn:hover {
  color: red;
  transform: scale(1.1);
}

.shopping-input-group {
  background: rgb(249, 14, 60);
  background: linear-gradient(
    11deg,
    rgba(249, 14, 60, 1) 0%,
    rgba(255, 96, 135, 1) 48%,
    rgba(254, 156, 184, 1) 100%
  );
  border-radius: 0 0 10px 10px;
}

.shopping-input,
.shopping-add-btn {
  display: block;
}

.shopping-input {
  width: 100%;
  padding: 10px;
}

.shopping-add-btn {
  margin: 0 auto;
  font-size: 50px;
}

.shopping-add-btn:hover {
  transform: scale(1.1);
}
